body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-section {
    color: rgb(0, 0, 0);
    padding: 50px 0;
}

.container {
    max-width: 800px;
    margin: auto;
}

h2 {
    color: #000000;
    margin-bottom: 20px;
}

.footer-section {
    background-color: #343a40;
    color: white;
    padding: 15px 0;
}
